{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Entry
{% endblock %}

{% block body %}
    <h5>Edit Entry:</h5><h4 style="font-style: italic;">{{ title }}</h4>
    <form action="{% url 'editEntry' title %}" method="post">
        {% csrf_token %}
        <label>
            <textarea type="text" name="page_text"  rows="5" cols="60" style="height: auto" required>{{ entry }}</textarea>
        </label><br>
        <input type="submit" value="save entry">
    </form>
{% endblock %}