{% extends "encyclopedia/layout.html" %}

{% block title %}
Edit Entry
{% endblock %}

{% block body %}
    <h3>Edit Entry</h3>
    <form action="{% url 'editEntry' title %}" method="post">
        {% csrf_token %}
        <label>
            <input type="text" name="page_title" value="{{ title }}" required>
        </label><br>
        <label>
            <textarea type="text" name="page_text"  rows="5" cols="60" style="height: auto" required>{{ entry|safe }}</textarea>
        </label><br>
        <input type="submit" value="save entry">
    </form>
{% endblock %}